<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
   
    <link  rel="stylesheet"  href="index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>


<header>
        <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contactus">Contact Us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="/faq">FAQ</a>
                    </li>
                  </ul>
                </div>
              </nav>

            </header>

<div class="container-fluid">
    <div class="row">

            <aside class="col-md-3" id="left-side">
                    <div id="leftAd"> <img src="./images/img.jpg" ></div> 
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                  sed diam nonummy
                  nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim 
                  veniam, ghfgjfg
             </aside>
     
  <section id="sec" class="col-md-6">   
        <form action="/forms" method="POST">
            <textarea id="name" name="author" ></textarea>
            <button>submit</button>
            </form>
    </section>
    <aside id="right-side" class="col-md-3"><div id="leftAd"> <img src="./images/img.jpg" ></div> 
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
          sed diam nonummy
          nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim 
          veniam, ghfgjfg</aside>

</div>
</div>
        <footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
                <div class="container">
                  <div class="row row-30">
                    <div class="col-md-4 col-xl-5">
                      <div class="pr-xl-4"><a class="brand" href="index.html"></a>
                        <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
                        <!-- Rights-->
                        <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <h5>Contacts</h5>
                      <dl class="contact-list">
                        <dt>Address:</dt>
                        <dd>798 South Park Avenue, Jaipur, Raj</dd>
                      </dl>
                      <dl class="contact-list">
                        <dt>email:</dt>
                        <dd><a href="mailto:#">dkstudioin@gmail.com</a></dd>
                      </dl>
                      <dl class="contact-list">
                        <dt>phones:</dt>
                        <dd><a href="tel:#">+91 7568543012</a> <span>or</span> <a href="tel:#">+91 9571195353</a>
                        </dd>
                      </dl>
                    </div>
                    <div class="col-md-4 col-xl-3">
                      <h5>Links</h5>
                      <ul class="nav-list">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Pricing</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row no-gutters social-container">
                  <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
                  <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
                  <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
                  <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
                </div>
              </footer>
</body>
</html>